@use '../../utils/variables' as *;

.source-card {
  padding: 16px;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-bottom: "16px";

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 4px;
    color: $main-color;
  }

  &__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
  }

  &__language {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
  }

  &__country {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
  }


  &__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
    color: $main-color;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background-color: #80bfff;

    border: #00acdc;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    padding: 12px 0;

    &:hover {
      background-color: #fff;
      border: 1px solid #00acdc;
      border-radius: 5px;
      color: #00acdc;
    }
  }

  &:hover {
    transform: scale(1.2);
    .news-card__title {
      color: #34568b;
    }
  }
}
 

